@use '../../styles/colors.scss' as colors;

.chatbot-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .conversation-list {
        display: flex;
        align-items: end;
        flex-grow: 1;
        overflow: auto;
        .conversation-section {
            display: grid;
            grid-gap: 1rem;
            padding: 1rem;
            align-items: end;
            width: 100%;
            height: 100%;
            max-width: 100%;
            overflow-x: hidden;

            .ai {
                padding: 1rem 2rem 1rem 2.75rem;
                position: relative;
                border-radius: 0.75rem;
                border-top-left-radius: 0;
                max-width: 100%;
                word-break: break-word;

                * {
                    color: #f1f1f1;
                }

                &:before {
                    position: absolute;
                    background-image: url("/chatbot/icons/ai.svg");
                    border-radius: 50%;
                    background-size: 1.5rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    top: 1rem;
                    left: 0.5rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    content: "";
                    display: block;
                }
            }

            .component-wrapper {
                margin: 1.5rem .5rem;
                width: calc(100% - 1rem);
                max-width: calc(100% - 1rem);
                overflow: hidden;
                border-radius: 0.75rem;
                background: rgba(16, 18, 19, 0.5);
                backdrop-filter: blur(8px);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
            }

            .user {
                position: relative;
                padding: 1rem 3rem 1rem 1rem;
                text-align: left;
                border-radius: 0.75rem;
                border-top-right-radius: 0;
                width: fit-content;
                max-width: calc(100% - 5rem);
                margin-left: auto;
                box-shadow: colors.$shadow-light;
                word-break: break-word;

                * {
                    color: colors.$text-light;
                }

                &:before {
                    position: absolute;
                    background-image: url("/chatbot/icons/chatbot_revert.svg");
                    background-size: 1.5rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    top: 1rem;
                    right: 0.5rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    content: "";
                    display: block;
                    border-radius: 50%;
                }
            }

            p {
                font-size: 1rem;
                line-height: 1.5rem;
                color: #f1f1f1;
                margin: 0;
                max-width: 100%;
            }
        }
    }

    .conversation-input-container {
        min-height: 6rem;
        margin: 1rem;
        position: relative;
        border: 1px solid colors.$border-light;
        border-radius: 0.5rem;
        overflow: hidden;
        padding: 0.75rem;
        background-color: rgba(16, 18, 19, 0.5);

        &:has(textarea:focus) {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 20px 0px;
        }

        // &.active {
        //     border-color: $primary-blue;
        // }

        & > textarea {
            line-height: 1.25;
            font-size: 0.875rem;
            width: 100%;
            border: none;
            resize: none;
            outline: none !important;
            color: #f1f1f1;
            background-color: transparent;
        }

        & .input-options {
            position: absolute;
            bottom: 0.5rem;
            right: 0.75rem;
            display: flex;
            column-gap: 0.25rem;

            & > button {
                height: 2rem;
                width: 2rem;
                border-radius: 0.25rem;
                padding: 0;
                border: none;
                background: none;
                cursor: pointer;
                background-position: center;
                background-size: 1.375rem;
                background-repeat: no-repeat;

                &:focus,
                &:focus-visible,
                &:active {
                    outline: 1px solid colors.$primary-blue;
                }

                &.search {
                    border-radius: 50%;
                    background-color: colors.$primary-blue;
                    background-image: url("/chatbot/icons/send.svg");
                    background-size: 1.25rem;
                    transition: all 0.2s ease;
                    
                    &:hover {
                        background-color: colors.$dark-blue;
                    }
                }
                
                &.clear {
                    background-image: url("/chatbot/icons/clean.svg");
                    background-size: 1.5rem;
                    color: rgba(colors.$text-primary, 0.7);
                    
                    &:hover {
                        opacity: 0.8;
                        color: colors.$text-primary;
                    }
                }

                &.voice-input {
                    background-image: url("/chatbot/icons/voice.svg");
                    background-size: 1.5rem;
                    color: rgba(colors.$text-primary, 0.7);
                    
                    &:hover {
                        opacity: 0.8;
                        color: colors.$text-primary;
                    }
                }
            }
        }
    }
}

$dot-color: colors.$primary-blue;
$dot-size: 0.5rem;
$dot-margin: 0.125rem;
$animation-duration: 1s;
$text-color: colors.$text-primary;
$text-font-size: 1rem;

.thinking-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    .thinking-text {
        color: $text-color;
        font-size: $text-font-size;
        margin-right: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .dots {
        display: flex;
        align-items: center;

        .dot {
            width: $dot-size;
            height: $dot-size;
            border-radius: 50%;
            background-color: $dot-color;
            margin: 0 $dot-margin;
            animation: blink $animation-duration infinite both;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 0.2s;
            }

            &:nth-child(3) {
                animation-delay: 0.4s;
            }
        }
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

.quick-replies-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: .25rem;
    padding: 0 .75rem .5rem 1.25rem;

    .quick-reply-button {
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: colors.$primary-blue;
        padding: 0 0 2px 0;
        cursor: pointer;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: colors.$primary-blue;
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            color: colors.$dark-blue;
        }

        &:hover::before {
            width: 100%;
        }

        &::after {
            content: "→";
            margin-left: 0.5em;
            font-weight: bold;
            transition: transform 0.3s ease;
        }
        
        &:hover::after {
            transform: translateX(3px);
        }
    }
}
